'.source.python':

  'Python File Header':
    'prefix': 'fileheader'
    'body': '# -*- coding: utf-8 -*-'

# Imports
  'import re':
    'prefix': 'impr'
    'body': 'import re'

  'import os and sys':
    'prefix': 'imos'
    'body': '''
    import os
    import sys
    '''

  'import functools':
    'prefix': 'imfu'
    'body': 'import functools'

  'import itertools':
    'prefix': 'imit'
    'body': 'import itertools'

  'import numpy':
    'prefix': 'imnp'
    'body': 'import numpy as np'

  'import pandas':
    'prefix': 'impd'
    'body': 'import pandas as pd'

  'import matplotlib pyplot':
    'prefix': 'immpl'
    'body': 'from matplotlib import pyplot as plt'

  'import BeautifulSoup':
    'prefix': 'imbs'
    'body': 'from bs4 import BeautifulSoup'

  'import datetime':
    'prefix': 'imdt'
    'body': 'from datetime import datetime'

# Loops

  'for loop':
    'prefix': 'fori'
    'body':'''
    for ${1:i} in ${2:iterable}:
        $3
    '''

  'for loop in range len':
    'prefix': 'forr'
    'body':'''
    for ${1:i} in range(len(${2:iterable})):
        $3
    '''

  'for loop one liner':
    'prefix': 'foro'
    'body':'''
    [${1:i} for ${1:i} in ${2:iterable}]
    '''

# Functions

  'Function':
    'prefix': 'func'
    'body':'''
    def ${1:new_function}(${2:arg}):
        """$3"""
        $4
        return $5
    '''


# Classes
  'Main Class':
    'prefix': 'mainclass'
    'body':'''
    class ${1:NewClass}(object):
        """$2"""

        def __init__(self, *args, **kwargs):
            """$3"""
            ${4:pass}
    '''

  'Subclass':
    'prefix': 'subclass'
    'body':'''
    class ${1:Subclass}(${2:object}):
        """$3"""

        def __init__(self, *args, **kwargs):
            """$4"""
            super(${1:Subclass}, self).__init__(*args, **kwargs)
            $5
    '''
